@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("popular-websites-to-download-aesthetic-wallpapers-11.avif") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #ffff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:#ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .buttonLogin-popup{
    width: 130px;
    height: 50px;
    color: #ffff;
    background: transparent;
    border: 2px solid #ffff;
    outline:none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .buttonLogin-popup:hover{
    background:  radial-gradient(circle, rgba(75, 0, 130, 0.7), rgba(128, 0, 128, 0.4), rgba(221, 160, 221, 0.1))	;
    color: #ffff;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(225,225,225, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}
/*wrapper box login untuk active yang tertaut di js*/
.wrapper.active{
    height: 520px;
}


.wrapper .form-boxlogin{
    width: 100%;
    padding: 40px;
}

/*ini form login*/
.wrapper .form-boxlogin.log{
    transition: transform .18s ease;
    transform: translateX(0);
}

/*ini untuk edit active form login transisi keluar*/
.wrapper.active .form-boxlogin.log{
transition:none;
transform: translateX(-400PX);
}

/*ini form register*/
.wrapper .form-boxlogin.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

/*ini untuk edit active form register transisi masuk*/
.wrapper.active .form-boxlogin.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .aditya{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
   border-bottom-left-radius: 20px;
   cursor: pointer;
   z-index: 1;
}
.form-boxlogin h2{
    font-size: 2em;
   color:;
   text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
    padding: 0 35px 0 35px;
}


.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box  input:focus~label,
.input-box  input:valid~label{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    color: aliceblue;
    font-weight: 400;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px ;
    font-size: 1.2em;
    color:;
    line-height: 57px;
}

/* input box pw mulai dari nama box nya hingga icon*/

.input-box-pw{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid ;
    margin: 30px 0;
    padding: 0 35px 0 35px;
}
.input-box-pw label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box-pw  input:focus~label,
.input-box-pw  input:valid~label{
    top:-5px;
}

.input-box-pw input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    color: ;
    font-weight: 400;
    padding: 0 35px 0 5px;
}

.input-box-pw .icon{
    position: absolute;
    right: 8px ;
    font-size: 1.2em;
    color:;
    line-height: 57px;
}



.remember-forgot{

    font-size: .9em;
    color: ;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.login-register p a:hover{
    text-decoration: underline;
}